body {
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
	position: relative;
    z-index: 99;
}

#header, #footer, #top {
	background-color: #1f2937;
	color: #f9faf8;
	display: flex;
	padding-right: 10%;
	padding-left: 10%;
	margin: 0;
	border: 0;
	position: relative;
    z-index: 99
}


#header {
	padding-top: 18px;
	padding-bottom: 18px;
	width: 80%;
	justify-content: space-between;
	position: fixed;
    z-index: 999;
}

#filler-top {
	padding-top: 18px;
	padding-bottom: 18px;
}

#top {
	justify-content: space-between;
	padding-top: 55px;
	padding-bottom: 55px;
}

#middle {
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	
	height: 100%;
	position: relative;
    z-index: 99;
	padding-top: 100px;
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 5%;
}

#container-with-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #f9faf8;
	padding: 0px;
	border: solid;
	border-color: #3882f6;
	height: 480px;
	width: 480px;
	position: relative;
    z-index: 99;
}

#quote {
	display: flex;
	flex-direction: column;
	background-color: #e5e7eb;
	padding: 125px 20%;
	gap: 10px;
}

#footer {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1% 0;
}

.hero-header {
	font-weight: bolder;
	font-size: 24px;
}

.hero-secondary .hero-secondary-but {
	font-size: 18px;
	color: #e5e7eb;
}

/*.hero-secondary-but:visited {
	color: #e5e7eb;
	text-decoration: none;
}

.hero-secondary-but:link {
	color: #e5e7eb;
	text-decoration: none;
}

.hero-secondary-but:hover {
	color: #3882f6;
	text-decoration: none;
}*/

button:hover {
	background-color: #005ff7;
	border-color: #005ff7;
}

/*.small-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 15px;
	padding: 5px;
	padding-left: 0;
	padding-right: 0;
}*/


.hero {
	font-family: extra-bold;
	font-size: 48px;
}


button {
	display: flex;
	justify-content: center;
	padding: 10px 10px;
	margin: 0 25px;
	width: 100%;
	max-width: 50px;
	height: 50px;
	color: #e5e7eb;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bolder;
	font-size: 16px;
	background-color: #3882f6;
	border-style: solid;
	border-color: #3882f6;
	border-radius: 10px;
	margin: 0;
	font-family: arial;
}

/*img {
	width: 45%;
	height: 45%;
}*/


/*.image-with-border {
	border-style: solid;
	border-color: #3882f6;
	border-radius: 10px;
	width: 100%;
	height: 80%;
}*/

.pixels {
	width: 30px;
	height: 30px;
	background-color: brown;
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pixels:hover {
	background-color: pink;
}